.screenContainer {
    display: flex; flex-direction: column; align-items: center;
    text-align: center; flex-grow: 1; width: 100%;
}
.header {
    background-color: var(--primary-dark-purple); color: var(--secondary-white);
    padding: 40px 20px; width: 100%;
    border-bottom-left-radius: 35px; border-bottom-right-radius: 35px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    box-sizing: border-box;
}
.header h2 { font-size: 28px; font-weight: 700; margin-bottom: 10px; color: var(--secondary-white); }
.header p { font-size: 16px; color: var(--primary-light-purple); margin: 0; opacity: 0.9; }
.content {
    padding: 20px; border-radius: 12px; width: 90%;
    max-width: 450px; display: flex; flex-direction: column;
    gap: 15px; align-items: center; margin-top: -50px; /* Efeito de sobreposição */
    background-color: var(--secondary-white); box-shadow: 0 4px 15px rgba(0,0,0,0.1);
}
.scoreSummary {
    font-size: 16px; font-weight: 500; color: var(--primary-dark-black);
    line-height: 1.7; width: 100%;
}
.scoreSummary p { margin: 4px 0; }
.scoreSummary strong { color: var(--primary-dark-purple); font-weight: 700; }
.finalScore { font-size: 24px !important; color: var(--primary-dark-purple); }
.actionButton {
    font-family: var(--font-family-poppins); padding: 14px 20px;
    border-radius: 28px; border: none; font-size: 16px;
    font-weight: 600; cursor: pointer; text-align: center;
    transition: background-color 0.2s; text-decoration: none;
    width: 100%; max-width: 280px; box-sizing: border-box;
    background-color: var(--primary-dark-purple); color: var(--secondary-white);
}